@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Jomhuria&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');



.back-img{
    background-image: url("p7.jpeg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2%;
    background-color: #FCECDD;
    min-width: 5%;
}
div.bolder h1{
    font-family: 'Josefin Sans', sans-serif;
    opacity: 1;
    font-size: 3.5rem;
    font-weight: bold;
    min-width: 10%;
}
div.bolder p{
    font-family: 'Dancing Script', cursive;
    opacity: 1;
    font-size: 10rem;
    font-weight: bold;
}
