@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');



.navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}
.navbar{
    background-color: white;
    
}